<!DOCTYPE html>
< atributo ="a" propiedades="b">
kidkdkdk
   <head>

   </head>

    <body>
    //Sirve para poner el cuerpo de nuestra pagina web
    <h1>Titulo1</h1>
    <h2>Titulo1</h2>
    <h3>Titulo1</h3>
    <h4>Titulo1</h4>
    <h5>Titulo1</h5>
    <h6>Titulo6 <spam>Otro parrafo </spam></h6> //hace que un titulo sea mas importante que otro; spam quita el salto de linea entre parrafos

    <p>//sirve para crear parrafos</p>
    <ul>
        <li>1</li>
        <li>2</li>
    </ul>

    <ol>
        <li>a</li> <!List Item>
        <li>b</li>
        <li>c</li>
    </ol>

    <!-- Anchor -->
    <a href="http://www.google.com" target="_blank">

    </a>

    <a href="http://www.google.com" target="_parent">

    </a>

    <img src="/imagenes/guantelete.png" alt="Guantelete de Thanos">

    <form action="">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text">

        <button>Enviar datos</button>
    </form>
    </body>
    //no todas las etiquetas se cierran

</html>