<!doctype >
<html lang="en" xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="icon"
          href="http://localhost:3000/imagenes/facebook.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Facebook</title>

</head>

<body>

<div class="container">
    <div class="row busqueda">
        <div class="col-sm-2">
           <h1>Facebook</h1>
        </div>



        <div class="col-sm-10">
            <h1><input type="text" placeholder="" role="combobox"></h1>
        </div>

    </div>

    <style>
        .busqueda{
            background-color: blue;
        }
        h1{
            color:white;
            font-size: 28px;
        }
        .perfil{
            background-color: white;
        }



    </style>

        <div class="row perfil">
        <div class="col-sm-4">
            <br>
            <br>
            <img src="http://localhost:3000/imagenes/images.jfif" width="200"
            height="200">

            <h2>Información Personal</h2>
            <table>
                <tr>
                    <td>-</td>
                    <td>Estudio en Escuela Politecnica Nacional</td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>Vive en Quito</td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>Soltero <3</td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>Seguidores</td>
                    <td>11</td>
                </tr>
            </table>
        </div>

        <div class="col-sm-8">
            <img src="http://localhost:3000/imagenes/flor.jpg" width="725"
                 height="350">

                <div class="row">
                   <h1 style="padding-left: 10px; padding-right: 20px;">Información</h1>
                    <div class="col-sm-3"><h1>Amigos</h1></div>
                    <div class="col-sm-3"><h1>Fotos</h1></div>
                    <div class="col-sm-3"><h1>Mas</h1></div>
                </div>
            </div>
        </div>
    </div>


    <style>
        td, h2 {
            color: white;
            border-bottom-color: blue;
        }
        .white{
            background: white;
        }
    </style>


</div>


</div>


</body>
</html>