<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon"
          href="http://localhost:3000/imagenes/facebook.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Facebook</title>
</head>
<body>

<div class="container">
    <div class="row facebook">
        <div class="col-sm-2">
            <h1>Facebook</h1>
        </div>

        <div class="col-sm-10">
            <h2><input type="text" placeholder="" role="combobox"></h2>
        </div>

    </div>

    <div class="row fotos">
        <div class="col-sm-2">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src="http://localhost:3000/imagenes/images.jfif" width="200"
                 height="200">
        </div>

        <div class="col-sm-2">
            <img src="http://localhost:3000/imagenes/flor.jpg" width="932">
        </div>
    </div>
<br>
    <div class="col-sm-12">

        <div class="row informacion">
            <div class="col-sm-3">
                <h2>Información Personal</h2>
                <table>
                    <tbody><tr>
                        <td>-</td>
                        <td>Estudio en Escuela Politecnica Nacional</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>Vive en Quito</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>Soltero &lt;3</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>Seguidores</td>
                        <td>11</td>
                    </tr>
                    </tbody></table>

            </div>

            <div class="col-sm-9">
                <div class="row mas">
                    <div class="col-sm-3"><h3>Información</h3></div>
                    <div class="col-sm-3"><h3>Amigos</h3></div>
                    <div class="col-sm-3"><h3>Fotos</h3></div>
                    <div class="col-sm-3"><h3>Mas</h3></div>
                </div>

                <div class="row publicacion">
                    <h2><input type="text" placeholder="" role="combobox" width="20"></h2>


                </div>
            </div>

        </div>
    </div>
</div>



<style>

    .facebook{
        background-color: blue;
    }

    h1{
        color:white;
        font-size: 28px;
    }

    h2{
        color:blue;
        font-size: 24px;
    }
    table{
        color:blue;
        font-size: 15px;
    }
    h3{
        color:blue;
        font-size: 20px;
    }
    .publicacion{

        width: 100%;

    }

</style>

</body>
</html>

